<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <div class="container">
        <h1>Email Spam Classifier</h1>
        <textarea id="emailInput" placeholder="Paste your email content here..."></textarea>
        <button id="classifyButton">Classify</button>
        <div id="result"></div>

        <div id="banner"></div>
    </div>



    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
